<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
  <style>
    .home-button {
      background-color: #2DBADD;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .home-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <nav>
      <a href="{% url 'tot:home' %}" class="home-button">Home</a>
    </nav>
    <h1>{{ quiz_name }}</h1>

    <form action="{% url 'quiz' %}" method="post">
      {% csrf_token %}

      {% if question %}
        <h2>{{ question.question_text }}</h2>

        <ul>
          {% for option in question.options %}
            <li>
              <input type="radio" id="option{{ forloop.counter }}" name="answer" value="{{ option }}">
              <label for="option{{ forloop.counter }}">{{ option }}</label>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="question_id" value="{{ question_id }}">
        <button type="submit">Submit</button>
      {% else %}
        <p>No more questions.</p>
      {% endif %}

      {% if is_correct is not None %}
        <div class="answer-msg">
          {% if is_correct %}
            <p class="correct">Your answer is correct!</p>
          {% else %}
            <p class="incorrect">Your answer is incorrect.</p>
          {% endif %}
        </div>
        <button type="button" onclick="window.location.href='{% url 'quiz' %}'">Next</button>
      {% endif %}
    </form>
  </div>
</body>
</html>

