{% extends 'base.html' %}

{% block content %}
    <h1>{{ box.name }}</h1>
    <p>{{ box.description }}</p>

    <h2>Flashcards</h2>
    <div class="button-container">
        {% for flashcard in flashcards %}
            <a href="{% url 'tot:flashcard_detail' flashcard_id=flashcard.id %}" class="btn btn-flashcard flashcard-item">{{ flashcard.question }}</a>
        {% empty %}
            <p>No flashcards found.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block styles %}
    <style>
        .btn-flashcard {
            background-color: #ffc107;
            color: #333;
            padding: 10px 20px;
            border: blue;
            border-radius: 5px;
            margin: 5px;
        }

        .btn-flashcard:hover {
            background-color: #e0a800;
        }

        .flashcard-item {
            /* Add any additional styling for the flashcard items here */
        }
    </style>
{% endblock %}







