{% extends 'base.html' %}

{% block content %}
    <style>
        button {
            background: linear-gradient(45deg, #FFD700, #87CEEB);
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }

        button:hover {
            background: linear-gradient(45deg, #FFD700, #87CEEB);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>

    <h1>{{ set.name }}</h1>
    <p>{{ set.description }}</p>

    <h2>Boxes</h2>
    <ul>
        {% for box in set.box_set.all %}
            <li>
                <a href="{% url 'tot:box_detail' set_id=set.id box_id=box.id %}">
                    <button>{{ box.name }}</button>
                </a>
            </li>
        {% empty %}
            <li>No boxes found.</li>
        {% endfor %}
    </ul>
{% endblock %}
























