<!-- tot/set_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Sets</h1>
    {% if sets %}
        <style>
            .box-button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
            }

            .box-button:hover {
                background-color: #45a049;
            }
        </style>

        <ul>
            {% for set in sets %}
                <li>
                    <h2>{{ set.name }}</h2>
                    {% if set.box_set.all %}
                        <ul>
                            {% for box in set.box_set.all %}
                                <li>
                                    <button class="box-button" onclick="location.href='{% url 'tot:box_detail' box.id %}'">{{ box.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No boxes available for this set.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No sets available.</p>
    {% endif %}
{% endblock %}













